<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}  {% endblock %}
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header id="header">
        <a href="#" class="logo">Marmol</a>
        <ul>
            <li><a href="{% url 'inicio' %}" onclick="toggle()">Inicio</a></li>
            <li><a href="{% url 'nosotros' %}" onclick="toggle()">Nosotros</a></li>
            <li><a href="{% url 'valores' %}"onclick="toggle()">Valores</a></li>
            <li><a href="{% url 'trabajos' %}" onclick="toggle()">Trabajos</a></li>
            <li><a href="{% url 'equipo' %}" onclick="toggle()">Equipo</a></li>
            <li><a href="{% url 'contacto' %}" onclick="toggle()">Contacto</a></li> 
            <li><a href="{% url 'tienda' %}" onclick="toggle()"><img src="{% static 'images/carrito.svg' %}" width="12%" alt="" style="filter: invert(1);"> Tienda</a></li>    

        </ul>
        <div class="toggle" onclick="toggle()"></div>
    </header>

    {% block content %}
    {% endblock %}
<footer>
    <div class="sci">
        <ul>
            <li>
                <a href="#"><img src="{% static '/images/facebook.png' %}" alt=""></a>
                <a href="#"><img src="{% static '/images/linkedin.png' %}" alt=""></a>
                <a href="#"><img src="{% static '/images/twitter.png' %}" alt=""></a>
            </li>
        </ul>
    </div>
    <p class="copyright"> ©MARMOLORENZO</p>
</footer>
<script type="text/javascript">

window.addEventListener("scroll",function(){
    var header = document.querySelector("header")
    header.classList.toggle("sticky", window.scrollY > 0);
})

function toggle(){
    var header = document.querySelector("header");
    header.classList.toggle("active");
}
</script>

</body>
</html>
