{% extends 'base.html' %}

{% block title %} <title>Marmol | Trabajos </title>  {% endblock %}

{% block content %}

<section class="sec contact" id="contacto">
    <div class="contenido">
        <div class="mxm800p">
            <h3>Contacto</h3>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia sint iste earum voluptas alias. 
               
            </p>
        </div>
        <div class="contactForm">
            <form>
                <div class="row100">
                    <div class="inputBx100 ">

                        <input type="text" name=""  placeholder="Nombre completo">

                    </div>
                    <div class="inputBx100">

                        <input type="text" name=""  placeholder="Email">

                    </div>
                    

                </div>
                <div class="row100">
                    <div class="inputBx100">

                     <textarea name="" placeholder="Mensaje" ></textarea>

                    </div>
                    
                </div>
                <div class="row100">
                    <div class="inputBx100">
                        <input type="submit" value="Enviar">
                    </div>
                </div>
            </form>
        </div>
        
    </div>

</section>

{% endblock %}