{% extends 'base.html' %}
{% load static %}
{% block title %} <title>Marmol | Tienda </title>  {% endblock %}

{% block static %}
<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
<link href="/static/css/slider.css" type="text/css" rel="stylesheet" media="screen,projection"/>


{% endblock %}

{% block content %}


  <!--
    <div class="container">
        <center>    
            <h1>
                <span class="new badge" data-badge-caption="">${{object.precio}}</span>
                {{object.nombre}}
            </h1>
        </center>
    -->
    <div class="contslider">
        <div class="slider">
            <ul class="slides">
                
                    {% for imagen in object.producto_imagen.all %}
                    <li>
                    <img src="/media/{{imagen.imagen}}"> <!-- random image -->
                     <div class="caption center-align">
                    <h5 class="light grey-text text-lighten-3" >{{imagen.descripcion}}</h5>
                    </div>
                     </li>
                    {% endfor %}
                

            </ul>
         </div>
        </div>
        <div class="detalleslider">
           <h3 >Descripción</h3> 
            {{object.descripcion}}
            <br/>
            <br/>
            <h3>Comentarios</h3>
        </div>
        <br>
            <!--
        <br>
        <div class="col s8 z-depth-1">
            <center>
                {{object.descripcion}}
            </center>
        </div>
        <br>

        <ul class="collection">
        
            {% for comentario in object.producto_comentarios.all %}
                <li class="collection-item">
                    <p style="font-weight: bold;">{{comentario.usuario}}, dice: </p>
                    <p>
                        {{comentario.comentario}}
                        <br>
                        {{comentario.fecha}}
                    </p>
                </li>
            {% endfor %}
        </ul>

        <form class="col s12" method="post" action="{% url 'crear_comentario' %}">
            {% csrf_token %}
            <div class="input-field col s6">
                <input placeholder="Nombre" id="name" type="text" class="validate" name="usuario">
                <label for="name">Nombre</label>
            </div>
    
            <input type="hidden" name="producto" value="{{object.pk}}">
    
            <div class="row">
                <div class="input-field col s10">
                    <i class="material-icons prefix">mode_edit</i>
                    <textarea id="icon_prefix2" class="materialize-textarea" name="comentario"></textarea>
                    <label for="icon_prefix2">Comentario</label>
                </div>
                <div class="input-field col s2">
                        <button class="waves-effect waves-light btn-large">
                            Comentar
                        </button>
                </div>
            </div>
        </form>

    </div>

    
    <div class="fixed-action-btn" style="bottom: 90px;">
    <form action="{% url 'agregar' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="usuario" value="{{request.user.pk}}">
        <input type="hidden" name="producto" value="{{object.pk}}">
        <input type="hidden" name="precio" value="{{object.precio}}">
        
        <button class="btn-floating btn-large red pulse">
            <i class="large material-icons">add_shopping_cart</i>
        </button>
    </form>
    
    <ul>
    </ul>
</div>


    <footer class="page-footer teal">
        <div class="container">
            <div class="row">
    
            <div class="col l12 s12">
                <h5 class="white-text">Somos los mejores!</h5>
                <p class="grey-text text-lighten-4">
                    Enviamos a todo el país
                </p>
    
    
            </div>
    
            </div>
        </div>
    
        <div class="footer-copyright">
            <div class="container">
                <center>
                    Todos los derechos reservados 2019
                </center>
            </div>
        </div>
        </footer>
    -->

  <!--  Scripts-->

  <script src="/static/js/materialize.js"></script>
  <script src="/static/js/init.js"></script>

  {% endblock %}