{% extends 'base.html' %}
{% load static %}
{% block title %} <title>Marmol | Equipo </title>  {% endblock %}

{% block content %}

<section class="sec equipo" id="equipo">
    <div class="contenido">
        <div class="mxm800p">
            <h3>Equipo de trabajo</h3>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia sint iste earum voluptas alias. 
                Veritatis vitae quasi exercitationem aperiam repudiandae consectetur tenetur molestias dolorem ducimus ipsum nobis fuga,
                facere minima?
            </p>
        </div>
        <div class="teamBx">
            <div class="member">
                <div class="imgBox">
                    <img src="{% static '/images/2.jpg' %}" alt="" class="img2">
                </div>
                <div class="details">
                    <div>
                        <h2>Lorenzo Reyes<br><span>Dueño de Marmol</span></h2>
                    </div>
                </div>
            </div>
           
           
            
        </div>

    </div>
</section>

{% endblock %}