
{% extends 'base.html' %}
{% load static %}
{% block title %} <title>Marmol | Tienda </title>  {% endblock %}
{% block static %}


{% endblock %}

{% block content %}

<section class="sec tienda" style="padding-top:200px;">
  <div class="contenido" id="tienda">
    <div class="mxm800p" style="margin-top: 200px;">
    <h1 class="titulo">Tienda</h2>
    </div>

  <br>
  <div class="tiendaBx" style="max-width: 100%;">
    {% for producto in object_list %}
    
    <div class="contpro" style="background: #60D336; width: 250px; color:#000">
     <a href="{% url 'detalle_producto' producto.pk %}"><div class="marca">
         <div class="imgBx">
             <img src="{{producto.producto_imagen.all.0.imagen.url}}" alt="" class="img2"></div>
        <div class="cont">
         <h2>{{producto.nombre}}</h2>
        </div>
        
     </div> </a>
     <div class="detalle" >
       Precio: <p style="font-weight: bold;">${{producto.precio}}</p>
     </div>
    </div>
    {% empty %}
   <div style="margin-left: -100px;"> 
      <p style="text-align: center;">
        No tenemos actualmente productos en stock
      </p>
    </div>
    {% endfor %}
 </div>
    
  </div>
</section>



</div>

  <br>
</div>







{% endblock %}

  
