{% extends 'base.html' %}
{% block title %} <title>Marmol | Nosotros </title>  {% endblock %}
{% block content %}
<section class="sec" id="about">
    <div class="contenido">
        <div class="mxm800p">
            <h3> Quienes somos</h3>
            <p>MARMOLERIA ITALO CEDOLIN CIA LTDA , Es una empresa familiar que se inicia en Chile en 1948 cuando  Don Italo Cedolin de Monte, un artesano y artista italiano del mármol llega a Chile para realizar un emprendimiento mostrando las maravillas que se podían lograr  trabajado el mármol y la piedra, desde entonces trabajo en la sustracción, elaboración, y colocación de materiales pétreos nacionales e importados prestando servicios en el rubro de la construcción y decoración.
                Con su gran bagaje de conocimientos y experiencia, se encuentra con una madera fosilizada por más de 500 millones de años originada en el norte de Chile y que la bautizo como PIEDRA HUASCO M.R. producto único en el mundo, que se ha explotado y trabajado obteniéndose un producto de hermoso veteado similar al color de la madera.
                De igual forma se destaca la producción de Mármol Travertino nacional procedente de Calama, y granitos importados de diversos colores, que son trabajados con la mejor tecnología del momento con modernos equipos y maquinarias , y un gran equipo humano, que permite entregar un mejor material  y servicio en corte y terminaciones de acabados. Entre sus principales productos se destacan los revestimientos para muros. Pavimentos, gradas, bordes de terrazas, piscinas, chambranas de puertas, ventanas, cubiertas para cocinas, vanitorios, adoquines, basas, lajas, esculturas etc. demostrando su capacidad de crear, diseñar y desarrollar una infinidad de trabajos a solicitud de los clientes en mármoles, granitos y piedras.
                Al fallecimiento de don Italo le sucede su Hija doña Gabriela Cedolin quien ha heredado la tenacidad y creatividad de su padre  y que junto a su esposo don Pedro Indri  han logrado darle un impulso moderno y proactivo  a la empresa para satisfacer la demanda cada día mas exigente de sus Clientes.
                
            </p>
        
        </div>
    </div>
  


</section>

{% endblock %}