
{% extends 'base.html' %}
{% load static %}
{% block title %} <title>Marmol | Tienda </title>  {% endblock %}

{% block static %}
<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" type="text/css" href="static/css/perfil.css">


{% endblock %}

{% block content %}

<div class="containerf">
	<div class="contact-box">
		<div class="left"></div>
		<div class="right">
      <button class="btnedit" onclick="habilitar()"><i class="fas fa-edit" alt="Editar"><p>Editar</p></i></button>
      <br>
      <br>
			<h2 style="text-transform: uppercase; letter-spacing: 1px;">Perfil</h2>
			<form action="{% url 'cambiar_perfil' %}" method="POST">
				{% csrf_token %}
			<h5 style="text-align: left; text-transform: uppercase; letter-spacing: 1px;">Nombre</h5>
			<input type="text" class="field" id="i1" name="first_name" disabled value="{{object.first_name|default_if_none:''}}" placeholder="Nombre">
			<h5 style="text-align: left; text-transform: uppercase; letter-spacing: 1px;">Apellido</h5>
			<input type="text" class="field" id="i2" name="last_name" disabled value="{{object.last_name|default_if_none:''}}" placeholder="Apellido">
			<h5 style="text-align: left; text-transform: uppercase; letter-spacing: 1px;">Telefono</h5>
			<input type="text" class="field" id="i3" name="telefono" disabled value="{{object.telefono|default_if_none:''}}" placeholder="">
			<h5 style="text-align: left; text-transform: uppercase; letter-spacing: 1px;">Email</h5>
			<input type="text" placeholder="Email" id="i4" name="email" disabled value="{{object.email|default_if_none:''}}" class="field">
			<h5 style="text-align: left; text-transform: uppercase; letter-spacing: 1px;">Nombre de usuario</h5>
			<input type="text" placeholder="" disabled value="{{object.username|default_if_none:''}}" class="field">
			<button class="btn" id="cmb">Cambiar perfil</button>
      </form>
      
		</div>
	</div>
</div>

<script>
	function habilitar() {	
$("#i1").prop('disabled', false);
$("#i2").prop('disabled', false);
$("#i3").prop('disabled', false);
$("#i4").prop('disabled', false);
$("#cmb").show();

toastr.info('Ya puedes modificar tu perfil',toastr.options = {
  "closeButton": false,
  "debug": false,
  "newestOnTop": false,
  "progressBar": false,
  "positionClass": "toast-bottom-right",
  "preventDuplicates": false,
  "onclick": null,
  "showDuration": "300",
  "hideDuration": "1000",
  "timeOut": "5000",
  "extendedTimeOut": "1000",
  "showEasing": "swing",
  "hideEasing": "linear",
  "showMethod": "fadeIn",
  "hideMethod": "fadeOut"
})
}

function cambiado(){
  toastr.info('Tu perfil fue modificado',toastr.options = {
  "closeButton": false,
  "debug": false,
  "newestOnTop": false,
  "progressBar": false,
  "positionClass": "toast-bottom-right",
  "preventDuplicates": false,
  "onclick": null,
  "showDuration": "300",
  "hideDuration": "1000",
  "timeOut": "5000",
  "extendedTimeOut": "1000",
  "showEasing": "swing",
  "hideEasing": "linear",
  "showMethod": "fadeIn",
  "hideMethod": "fadeOut"
})
}

	</script>

{% endblock %}

  <!--  Scripts-->

  <script src="static/js/materialize.js"></script>
  <script src="static/js/init.js"></script>

  </body>
</html>