{% extends 'base.html' %}
{% load static %}
{% block title %} <title>Marmol | Valores </title>  {% endblock %}
{% block content %}

<section class="sec about" id="Valores">
    <div class="contenido">
        <div class="mxm800p">
            <h3> Valores </h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At eius 
               temporibus nostrum omnis doloremque accusamus quasi laboriosam, consequatur 
               vitae sapiente assumenda minus odit nulla, dolorem aliquid ex rerum veniam eum.
            </p>
    
        </div>
        <div class="services">
            <div class="box">
                <div class="iconBx">
                    <img src="{% static 'images/medalla.svg' %}" alt="">
                </div>
            
                <div class="content">
                <h2>Calidad</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci neque 
                    provident eos vero blanditiis, unde, numquam culpa veritatis optio aliquid molestiae
                     omnis quas asperiores qui laudantium rerum labore, praesentium libero!</p>
                </div>
            </div>
            <div class="box">
                <div class="iconBx">
                    <img src="{% static 'images/habilidades.svg' %}" alt="">
                </div>
            
                <div class="content">
                <h2>Experiencia</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci neque 
                    providei laudantium rerum labore, praesentium libero!</p>
                </div>
            </div>
            <div class="box">
                <div class="iconBx">
                    <img src="{% static 'images/bosquejo.svg' %}" alt="">
                </div>
            
                <div class="content">
                <h2>Diseño</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci neque 
                    provident eos vero blanditiis, unde, numquam culpa veritatis optio aliquid molestiae
                     omnis quas asperiores qui laudantium rerum labore, praesentium libero!</p>
                </div>
            </div>
            
        </div>
    </div>

    
</section>

{% endblock %}